<!-- INDEX GAMES TABLE -->
<table class="center">
  <tr>
    <td class="table-top" width="200px">
    MNEMONIC
    </td>
    <td class="table-top" width="50px">
    SENTENCES
    </td>
    <td class="table-top" width="75px">
    HOPE
    </td>
    <td class="table-top" width="75px">
    WISDOM
    </td>
    <td class="table-top" width="100px">
    PLAY
    </td>
  </tr>

{{#each games as |game|}}

  <tr height="50px">
    <td class="table-cell" width="221px" data-id="{{game.id}}">
    <p class="mnemonic" data-mnemonic-update="{{game.mnemonic}}">{{game.mnemonic}}</p>

    <span data-id="{{game.id}}" class="delete-game">X</span>
    <span data-id="{{game.id}}" class="update-game">EDIT</span>

    </td>
    <td class="table-cell" width="111px" data-id="{{game.id}}">
    {{game.sentences.length}}
    </td>
    <td class="table-cell" width="83px" data-id="${game.id}">
    {{game.hope}}
    </td>
    <td class="table-cell" width="83px" data-id="${game.id}">
    {{game.wisdom}}
    </td>
    <td class="table-cell" width="111px">
    <span data-id="{{game.id}}" class="play-game">GO</span>
    </td>
  </tr>

{{/each}}
</table>
